.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 296px);
  margin: 0 auto;
  /* height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  margin: 91px auto 32px;
  text-align: center;
}

.header__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: regular;
  line-height: 36px;
  max-width: 720px;
  margin: 0 auto 64px;
  text-align: center;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  position: absolute;
  top: 435px;
  left: 80px;
}

.header__image {
  width: 100%;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}
